*{
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}
:root {
    --text-color: red;
    --box-outline: lightblue;
    --box-insidecolor: rgba(0, 0, 255, 0.342);
    --box-outline-secondary: rgb(30, 255, 0);
    --box-products: rgba(0, 0, 0, .75);
    --subtitles-white: white;
}

ul {
    list-style-type: none;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif ;
    font-weight: bold ;

}
body {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(93,45,253,1) 100%); 
}
footer{
    display:flex;
    background-color: rgba(165, 42, 42, 0.356);
    justify-content: center;
    align-content: center;
    padding: 1rem;
    margin: 1rem;
}

.header__titulo{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-image: url(../recursos/fondo-de-nav.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: var(--text-color);
    height: 10rem;
    margin-top: 0px;
    padding: 0px;
    border: 0px;
    margin-bottom: 0rem;
    overflow:hidden;
}
.header__titulo--texto{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 5rem;
    height:5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.header__navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 0%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0.5rem;
    background-color: blue;
    width: 100%;
    height: 5.4rem;
    margin-top: -0.47rem;
}

.header__navegacion--list{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}   
.header__navegacion--links {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 0.5rem; 
    border: 0.05rem solid transparent;
    color: var(--text-color);
    height: 80%;
    width: 10vw;
    text-align: center;
    overflow: hidden;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
@media (max-width: 40em){
    .header__navegacion--links{
        margin-left: .5rem;
        margin-right: .5rem;
        min-width: 5rem;
    }
}
.navbar{
    display:flex;
    width: 100%;
}

.navbarOffsetMargin {
    padding-top: 15.7rem;
}
.header__navegacion--links:hover,
.header__navegacion--links:focus{
    cursor:pointer;
    border: 1px solid var(--box-outline);
    font-weight: bold;
    overflow: hidden;
}


/* Pagina de "inicio" */

.carousel {
    justify-content: center;
    align-items: center;
    background-color: var(--box-insidecolor);
    border : 2px solid var(--box-outline) ;
    margin-top: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}
.card__color{
    background-color: rgba(29, 29, 41, 0.267);
    max-width: 20rem;

}
.card-body{
    background-color: rgba(85, 85, 236, 0.473);
    color: #000;
}

.card-img-top{
    justify-content: center;
    align-items: center;
}
.carousel-item active{  
    justify-content: center;
    align-items: center;
}
@media (max-width: 40em){
    .productos__contenedor{
        display:grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        padding-block: 2rem;
        width: min(95%, 70rem);
        margin: 0 auto;
        overflow:hidden;
    }
}

.productos__items1{ 
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--box-products);
    border-radius: 0.5rem;
    margin: .7rem;
    border : 2px solid var(--box-outline-secondary) ;
    position: relative;
    transition: ease-in 150ms;
}
@media (max-width: 40em) {
    .productos__items1{
        width: 90%;
        height: 100%;
    }
    
}
.productos__items1:hover,
.productos__items--boton:focus{
    transform:scale(1.05)
}
.productos__items2{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--box-products);
    border-radius: 0.5rem;
    margin: .7rem;
    border : 2px solid var(--box-outline-secondary) ;
    transition: ease-in 150ms;
}
@media (max-width: 40em) {
    .productos__items2{
        width: 90%;
        height: 100%;
    }
    
}
.productos__items2:hover{
    transform:scale(1.05)
}
.productos__items3{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--box-products);
    border-radius: 0.5rem;
    margin: .7rem;
    border : 2px solid var(--box-outline-secondary) ;
    transition: ease-in 150ms;
}
/* PRUEBA
.productos__item3::before {
    content:'';
    position: absolute;
    background: var(--box-outline-secondary);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1rem) rotateX(40deg) scale(1,0.35);
    filter: blur(2rem);
} */
@media (max-width: 40em) {
    .productos__items3{
        width: 90%;
        height: 100%;
    }
    
}
.productos__items3:hover{
    transform:scale(1.05)
    
}

.productos__items4{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--box-products);
    border-radius: 0.5rem;
    margin: .7rem;
    border : 2px solid var(--box-outline-secondary) ;
    transition: ease-in 150ms;
}
@media (max-width: 40em) {
    .productos__items4{
        width: 90%;
        height: 100%;
    }
    
}
.productos__items4:hover{
    transform:scale(1.05)
}

.productos__items--texto{
    text-align: center;
    overflow:hidden;
    margin: .7rem;
    color: white;
    font-weight: bold;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    width: 100%;
}
.productos__items--parrafo{ 
    font-size: 15px ;
    text-align: center;
    font-weight: 200;
    height: 4rem;
    overflow:hidden;
    margin-left: 0.1rem;
    margin-right: 0.1rem;

}
.productos__items--imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    width: 100%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}
.productos__items--boton{
    padding:0px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.inicio__ofertas {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    overflow: auto;
    margin: 0.5rem;
    height: 30rem;
    border: var(--box-outline);
    background-color: var(--box-insidecolor);
}
.inicio__ofertas--contenedor{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--subtitles-white);
    background-color: var(--box-insidecolor);
    border : 0.1rem solid var(--box-outline) ;
    padding: 0.5rem;
    margin: 0.5rem;
    height: 90%;
    width: 75%;
}
.inicio__ofertas--itemsboton{
    padding:0px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    margin-top: 0.75rem;
}
.inicio__ofertas__itemsimagen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    width: 100%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}
.inicio__ofertas--itemsparrafo{ 
    font-size: 15px;
    text-align: center;
    font-weight: 200;
    height: 4rem;
    overflow:hidden;
    margin-left: 0.1rem;
    margin-right: 0.1rem;

}
.inicio__ofertas__items--texto{
    text-align: center;
    overflow:hidden;
    margin-top: 0.5rem;
    color: white;
    font-weight: bold;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    width: 100%;
}
.inicio__ofertas--items{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--box-products);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    border : 0.1rem solid var(--box-outline-secondary) ;


}
.inicio__ofertas--espacio-publicitario{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--box-insidecolor);
    border : 0.1rem solid var(--box-outline) ;
    padding: 0.5rem;
    margin: 0.5rem;
    height: 90%;
    width: 25%;
}


/* Pagina de "pagos" */

.pagos__carrito{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--box-insidecolor);
    border : 0.1rem solid var(--box-outline) ;
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
}
.pagos__carrito--texto{
    display: flex;
    align-content: center;
    justify-content:center;
}
.pagos__carrito--productos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pagos__compra{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: var(--box-insidecolor);
    border : 0.1rem solid var(--box-outline) ;
    margin: 0.5rem;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
}
.pagos__contenedor{
    background-color: rgba(255, 255, 255, 0.096);
}

/* pagina de ofertas */

.ofertas {
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: var(--box-insidecolor);
    border : 0.1rem solid var(--box-outline) ;
    margin: 0.5rem;
    padding: 0.5rem;
}

.ofertas__texto--titulo{
    text-align: center;
    margin-top: 0.5rem;
    color: white;
    font-weight: bold;
    margin-left: 0.1rem;
}
.ofertas__contenedor{
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}
@media (max-width: 40em){
    .ofertas__contenedor{
        display:grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        padding-block: 2rem;
        width: min(95%, 70rem)
    }
}
.ofertas__items{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--box-products);
    border-radius: 0.5rem;
    margin: .7rem;
    border : 0.1rem solid var(--box-outline-secondary) ;
    width: 25%;
    height: 75%;
}
@media (max-width: 40em){
    .ofertas__items{
        width: 90%;
        height: 100%;
    }
}
.ofertas__items--texto{
    text-align: center;
    overflow:hidden;
    margin-top: 0.5rem;
    color: white;
    font-weight: bold;
    width: 12.5rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    width: 100%;
}
.ofertas__items--parrafo{ 
    font-size: 0.75rem;
    text-align: center;
    font-weight: 200;
    height: 4rem;
    overflow:hidden;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    width: 100%;
}
.ofertas__items--imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    width: 100%;
    position:relative;
    text-align: center;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    width: 100%;
    overflow: hidden;
}
.ofertas__items--imagentexto{
    position: absolute;
    bottom: 0.1rem;
    right: 0.5rem;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 2.5rem;
    border: 1px solid var(--box-outline-secondary);
    background-color: var(--box-insidecolor);
    padding: 0.5rem;
    margin: 0.1rem;
    overflow: hidden;

}
.ofertas__items--boton{
    padding:0px;
    margin:1rem;
    
}

/*  pagina de "contacto"  */

.contacto__contenedor{
    display:flex;
    flex-direction: column;
    border: 1px solid var(--box-outline-secondary);
    background-color: var(--box-insidecolor);
    padding: 0.5rem;
    color:white;
    margin-top: 0.5rem;
    margin: 0.1rem;
    text-align: center;
}
.contacto__titulo{
    margin-top: 0.25rem;
}
.contacto__datos{
    display:flex;
    color:white;
    flex-direction: column;
    border: 1px solid var(--box-outline);
    background-color: var(--box-insidecolor);
    padding: 0.5rem;
    margin: 0.1rem;
    margin-top: 0.5rem;
}


/* pagina de "categorias" */
/* EN REVISION NO RESPONSIVE */
.categorias{
    display:flex;
    flex-direction: column;
    justify-content: left;
    border: 1px solid var(--box-outline-secondary);
    background-color: var(--box-insidecolor);
    padding: 10px;
    color:white;
    margin-top: 20px;
    margin: 2px;
}
.categorias__lista{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    color:white;
    margin-top: 20px;
    margin: 2px;
    height:500px;
}
.categorias__lista--productos{
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    width: 18.5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 20px;
    padding: 0px;
    height: 7%;
}
.categorias__lista--productos:hover{
    height: 480px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.categorias__lista--productos:hover .categorias__lista--contenedor{
    display:inline-block;
    width: 94%;
    height: 53.99%;
    border-radius: 5px;
    background-color: black;
}
.categorias__lista--productos:hover .categorias__lista--items{
    opacity: 1;
    display: inline-block;
}
.categorias__lista--contenedor{
    position:absolute;
    flex-direction: column;
    overflow:auto;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin-top: 40px;
    margin-left: 15px;
}
.categorias__lista--items{
    display: none;
    position: relative;
    width: 20%;
    min-width: 40px;
    opacity: 0;
    height: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px ;
    border: 1px solid var(--box-outline);
    background-color: var(--box-insidecolor);
}