$text-color:red;
$box-outline:lightblue;
$box-insidecolor: rgba(0, 0, 255, 0.342);
$box-outline-secondary: rgb(30, 255, 0);
$box-products: rgba(0, 0, 0, .75);
$subtitles: white;
$cincuentaoff: red;
$cincuentaoff-color: black;
$gradient: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(93,45,253,1) 100%);