@import 'variables';
@import 'header';
@import 'variables';
@import 'footer';

*{
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type: none;
}
li {
    list-style-type: none;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif ;
    font-weight: bold ;

}
body {
    background: rgb(0,0,0);
    background: $gradient; 
}

/* Pagina de "inicio" */


.inicio{
    &__productos--contenedor{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        justify-content: center;
        align-items: center;
        background-color: $box-products;
        border-radius: 0.5rem;
        margin: .7rem;
        border : 0.1rem solid $box-outline;
    }
    &__productos{
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: $box-insidecolor;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        margin: 1rem;
    }
    &__productos--imagen{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .__productos--carta{
        flex: 1 1 auto;
        padding: 1rem 1rem;
        justify-content: center;
        align-items: center;
    }
    &__productos--titulo{
        color: $subtitles;
    }
    &__productos--texto{
        color: $subtitles;
    }
    &__ofertas {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        overflow: auto;
        height: 30rem;
        border: $box-outline;
        background-color: $box-insidecolor;
    }
    &__ofertas--itemsboton{
        padding:0px;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        margin-top: 0.75rem;
    }
    &__ofertas__itemsimagen{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        width: 100%;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }
    &__ofertas--itemsparrafo{ 
        font-size: 15px;
        text-align: center;
        font-weight: 200;
        height: 4rem;
        overflow:hidden;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }
    &____ofertas__items--texto{
        text-align: center;
        overflow:hidden;
        margin-top: 0.5rem;
        color: white;
        font-weight: bold;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        width: 100%;
    }
    &__ofertas--contenedor{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $subtitles;
        background-color: $box-insidecolor;
        border : 0.1rem solid $box-outline ;
        padding: 0.5rem;
        margin: 0.5rem;
    }
    &__ofertas--contenedor2{
        padding: 0rem;
    }
    &__ofertas--items{ 
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $box-products;
        border-radius: 0.5rem;
        margin-top: 0.5rem;
        padding: 0rem;
        margin: 0rem;
        border : 0.1rem solid $box-outline-secondary;;
    }
    &__ofertas--espacio-publicitario{
        display:flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;
        background-color: $box-insidecolor;
        border : 0.1rem solid $box-outline ;
    }
}

/* Pagina de "pagos" */
.pagos{
    &__carrito{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $box-insidecolor;
        border : 0.1rem solid $box-outline ;
        margin: 0.5rem;
        padding: 0.5rem;
        color: white;
    }
    &__carrito--texto{
        display: flex;
        align-content: center;
        justify-content:center;
    }
    &__carrito--productos{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__compra{
        display: block;
        justify-content: center;
        align-items: center;
        background-color: $box-insidecolor;
        border : 0.1rem solid $box-outline ;
        margin: 0.5rem;
        padding: 0.5rem;
        color: rgb(255, 255, 255);
    }
    &__contenedor{
        background-color: rgba(255, 255, 255, 0.096);
    }
}


/* pagina de ofertas */
$oferta__ropa:(
    remera1: azul,
    remera2: roja,
    remera3: violeta,
    remera4: negra,
    );

@each $remera, $color in $oferta__ropa{
    .#{$remera}-card {
        display: flex;
        background-image: url(../recursos/remera-#{$color}.png);
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        background-color: $box-products;
        border-radius: 0.5rem;
        height: 28rem;
        margin: .7rem;
        border : 0.1rem solid $box-outline-secondary;
    }
}
.ofertas {
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: $box-insidecolor;
    border : 0.1rem solid $box-outline ;
    margin: 0.5rem;
    padding: 0.5rem;
    &__texto--titulo{
        text-align: center;
        margin-top: 0.5rem;
        color: white;
        font-weight: bold;
        margin-left: 0.1rem;
    }
    &__contenedor{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
    }
    &__items--texto{
        text-align: center;
        margin-top: 0.5rem;
        color: white;
        font-weight: bold;
        width: 12.5rem;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        width: 100%;
    }
    &__items--parrafo{ 
        font-size: 0.75rem;
        text-align: center;
        font-weight: 300;
        font-size: 0.8rem;
        height: 4rem;
        padding-top: 18rem;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        width: 100%;
    }
    &__items--imagen{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        width: 100%;
        position:relative;
        text-align: center;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        width: 100%;
    }
    &__items--imagentexto{
        display:flex;
        justify-content: center;
        align-items: center;
        bottom: 0.1rem;
        right: 0.5rem;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        border-radius: 2rem;
        border: 2px solid $cincuentaoff-color;
        background-color: $cincuentaoff;
        padding: 0.5rem;
        margin: 0.1rem;
        width: 6rem;
        margin-bottom: .5rem;
    }
    &__items--boton{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding:0px;
        margin-top:1.5rem;
        margin-bottom: 1rem;
    }
}

/*  pagina de "contacto"  */
.contacto{
    &__contenedor{
        display:flex;
        flex-direction: column;
        border: 1px solid $box-outline-secondary;
        background-color: $box-insidecolor;
        padding: 0.5rem;
        color:white;
        margin-top: 0.5rem;
        margin: 0.1rem;
        text-align: center;
    }
    &__titulo{
        margin-top: 0.25rem;
    }
    &__datos{
        display:flex;
        color:white;
        flex-direction: column;
        border: 1px solid $box-outline;
        background-color: $box-insidecolor;
        padding: 0.5rem;
        margin: 0.1rem;
        margin-top: 0.5rem;
    }
}

/* pagina de "categorias" */

.categorias{
    display: flex;
    flex-direction: column;
    border: 1px solid $box-outline-secondary;
    background-color: $box-insidecolor;
    color:white;
    padding: 10px;
    margin-top: 20px;
    margin: 2px;
    &__lista{
        display:flex;
        flex-direction: column;
        margin-top: 10px;
        padding: 2px;
        color:white;
        margin: 2px;
    }
    &__lista--productos{
        display:flex;
        border: 1px solid $box-outline-secondary;
        background-color: $box-insidecolor;
        color:white;
        flex-direction: column;
        text-align: center;
        background-color: black;
        width: 100%;
        padding: 0px;
        margin-bottom: .5rem;
    }
    &__lista--contenedor{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
    }
    &__lista--items{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 2px;
        border: 1px solid $box-outline;
        border-radius: 5px;
        background-color: $box-insidecolor;
        max-width: 18rem;
    }
    &__lista--itemproducto{
        display:flex;
        flex-direction: column;
        width: 100%;
        padding: 0.5rem;
    }
}

/* Media Query Tablet */
@media (max-width: 51.875em){
    .inicio__productos--contenedor{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        max-width: 24rem;
    }
}
@media (max-width: 51.875em){
    .productos__contenedor{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
}
@media (max-width: 51.875em){
    .ofertas__items{
        width: 90%;
        height: 100%;
    }
}
@media (max-width: 51.875em){
    .categorias__lista--contenedor{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
}
@media (max-width: 51.875em){
    .ofertas__contenedor{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
}
@media (max-width: 51.875em){
    .inicio__productos--contenedor{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
}
/* Media Queries Mobile*/

@media (max-width: 25em){
    .productos__contenedor{
        display:grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        padding-block: 2rem;
        margin: 0 auto;
        overflow:hidden;
    }
}
@media (max-width: 25em){
    .ofertas__items{
        width: 90%;
        height: 100%;
    }
}
@media (max-width: 25em){
    .categorias__lista--contenedor{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        gap: 8px;
    }
}
@media (max-width: 25em){
    .ofertas__contenedor{
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }
}
